/* utilizamos la estrategia mobile first */

:root{ /* root: variables CSS personalizadas en el elemento raíz*/
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}
*{ /* el selector * aplica para todas las etiquetas */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
/* header  */
header{
    background-color: #EAC926;
}
ul li {
    text-decoration: none;
    display: none;
}
ul li a{
    color: black;
}
.encabezado{
    padding: 15px;
}
.logoMl{
    width: 50%;
}
.barraBusqueda{
    width: 70%;
}
.titulares{
    font-size:24px ;
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
}
.descripcion{
    font-size: 16px;
    display: none;
}
#banner{
    margin-top: 15px;
    width: 100%;
    display: flex;
}
#compraEnCuotas{
    text-align: center;
    padding: 3%;
}
#burgerMenuCaja{
    text-align: center;
}
#burgerMenu{
    color: #ebebeb;
    background-color: #1259c3;
    padding: 8px;
    border-radius: 3px;
}
/* fin header  */
/* main */
main{
    width: 100%;
    padding: 10%;
    background-color: var(--Gris-claro);
}
main article{
    margin: 10px 0;
    background-color: white;    
}
main img{
    width: 100%;
}
.infoProducto{
    border-top: 1px solid var(--Gris-claro);
    margin: 0 15px;
    padding: 5%;
    
}
.camion{
    border: #39b54a solid 1px;
    border-radius: 50%;
    padding: 2%;
    color: #39b54a;
}
.descuento{
    color: var(--Verde);
}
/* fin main */
/* footer */
footer{ 
    text-align: center;
    padding: 10%;
    color: #666;
}
footer section i {
    color: #1259c3;
    font-size: 1.5rem;
    padding: 0.5rem;

}
/* fin footer */

/* tablet ancho minimo de 361px  */
@media(min-width: 361px ){
    ul li {
        display: block;
    }
    article{
        box-shadow: 0px 0px 10px rgba(100,100,100);
    }
    .descripcion{
        display: block;
    }

}
/* desktop ancho minimo de 769px */
@media (min-width: 769px){

}

