<!DOCTYPE html>
<html lang="es"> <!-- español -->

<head> <!-- configuracion de la pagina -->
    <meta charset="UTF-8"><!-- leer los caracteres especiales -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre CMF</title>
    <link rel="stylesheet" href="/public/css/style.css"><!-- linkenado css -->

</head>

<body><!-- contenido de la pagina  -->
    <header><!-- cabecera -->

    </header><!-- fin de la cabecera -->
    <main><!-- cuerpo -->

    </main><!-- fin del cuerpo -->
    <footer><!-- pie de la pagina -->
    </footer>
</body>

</html><!-- fin de la pagina  -->